a {
    all: unset;
}

nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    position: absolute;

    width: 94px;
    height: 30px;
    left: 377px;
    top: 28px;
    cursor: pointer;
}

.navbar {
    position: absolute;
    /* display: flex;
    flex-direction: row; */
    width: 1440px;
    height: 86px;
    left: 0px;
    top: 0px;
    background-color: white;
    justify-content: center;

    font-family: 'Poppins' , sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
/* identical to box height */

    text-transform: capitalize;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.25);
}

main {
    background: linear-gradient(180deg, #ffcfcd 0%, rgba(250, 250, 250, 0) 100%);
    display: flex;
    /* justify-content: flex-end;
    align-items: flex-end; */
    
    /* width: 1366px; */
    height: 728px;
    left: -2px;
    top: 72px;
}

#hello {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1px 45px;
    gap: 10px;

    position: absolute;
    width: 179px;
    height: 60px;
    left: 91px;
    top: 190px;

    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #403930;

    background: #edfff4;
    border-radius: 10px;
}

#salam {
    width: 131px;
    height: 30px;
}

h1 {
    align-items: center;
    display: flex;

    position: absolute;
    width: 800px;
    height: 400px;
    left: 130px;
    top: 200px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 125%;
/* or 80px */

    letter-spacing: 0.02em;

    color: #403930;
}

#circle1 {
    position: absolute;
    width: 615px;
    height: 609px;
    left: 713px;
    top: 118px;
    background-color: #edfff4;
    border-radius: 50%;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.25);
}

#minah {
    position: absolute;
    right: -89px;
    top: 13px;
    width: 615px;
    height: 609px;

}

#contact {
    position: relative;
    top: 20px;
    left: 120px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;

}
button {
    position: absolute;
    all: unset;
    background: #ffffff00;
    height: 100px;
    width: 100px;

    cursor: pointer;
    display: flex;
    align-items: center;
}

#email {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 8px;
}

#phone {
    height: 80px;
    width: 80px;
    position: absolute;
    left: 8px;
}

#github {
    height: 80px;
    width: 80px;
    position: absolute;
    left: 8px;
}

#linkedin {
    height: 80px;
    width: 80px;
    position: absolute;
    left: 8px;
}